body {
  margin: 0px;
  font-family: roboto;
}
nav {
  margin: 20px;
}
.header {
  display: grid;
  grid-template-columns: 1fr;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1%;
  position: static;
}
.book-logo {
  color: #292cff;
  font-size: 4em;
}
h1 {
  color: #292cff;
}
.side-nav {
  padding-left: 3vw;
  display: flex;
  align-items: center;
  gap: 5vw;
  font-size: 1.4em;
  color: #7577f7;
}
.search-bar {
  width: 40vw;
  height: 25px;
  background-color: #bebebe;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.search-logo {
  font-size: 1.3em;
  color: #7577f7;
  margin-left: 10vw;
}
.hero-image {
  width: 100%;
  height: 55vh;
}
.add-button {
  background-color: #0003c0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.add-button:hover {
  cursor: pointer;
  background-color: #7577f7;
  color: black;
}
.overlay {
  position: fixed;
  display: none;
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 5px;
  right: 1px;
}
.form {
  color: white;
  background-color: #cccccc;
  padding: 10%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  background-color: rgba(5, 5, 5, 0.8);
}
label,
input {
  display: block;
}

label {
  margin-bottom: 20px;
}
.display {
  display: flex;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: minmax(250px, 1fr);
  justify-content: center;
  align-content: center;
}
.card {
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-height: 0;
  margin: 20px;
}
.delete-button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 2.5%;
}
.delete-button:hover {
  cursor: pointer;
  background-color: rgb(182, 47, 47);
}
